:root[data-theme="light"][data-has-hero=""] .main-pane {
    background: linear-gradient(#46cbff 20px, #e3f2fb 430px, #009bc6 440px, #fff 550px);
}

:root[data-theme="dark"][data-has-hero=""] .main-pane {
    background: linear-gradient(#191455 80px, #8d676d 430px, #006a91 440px, #171717 550px);
}

.hero > img,
.hero > .hero-html {
    object-fit: contain;
    width: min(100%, 25rem);
    height: auto;
    margin-inline: auto;
    order: 2;
    /* -webkit-transform: scaleX(-1); */
    transform: scaleX(-1);
}

@media (min-width: 50rem) {
    .hero {
        padding-block: clamp(1rem, calc(1rem + 10vmin), 2.5rem);
        align-items: start;
        order: 1;
    }

    .hero > img,
    .hero > .hero-html {
        order: 2;
        width: min(150%, 35rem);
        margin-left: -25%;
        transform: scaleX(1);
    }
}