---
import type { Props } from '@astrojs/starlight/props';
---

<span class="credit">
   By <a href="https://github.com/rolandpoulter">Roland Poulter</a>
</span>

<style>
	span.credit {
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}

	span.credit a {
		color: var(--sl-color-gray-3);
		text-decoration: none;
	}
</style>