---
import type { Props } from '@astrojs/starlight/props';

import EditLink from '@astrojs/starlight/components/EditLink.astro';
import LastUpdated from '@astrojs/starlight/components/LastUpdated.astro';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
import Default from '@astrojs/starlight/components/Footer.astro';

import Credit from './Credit.astro';

const isNotHompage = Astro.props.slug !== '';
const hideEditLink = true;
---

{
    isNotHompage ? (
        <Default {...Astro.props}>
            <slot />
        </Default>
    ) : (
        <footer>
            <div class="meta sl-flex">
                <div class="footer-left">
                    { hideEditLink ? null : <EditLink {...Astro.props} /> }
                    <LastUpdated {...Astro.props} />
                </div>
                <div class="footer-right">
                    <span class="built-with">
                        Built with Starlight
                        <a href="https://starlight.astro.build/">🌟</a>
                    </span>
                    <br/>
                    <Credit {...Astro.props} />
                </div>
            </div>
            <Pagination {...Astro.props} />
        </footer>

        <style>
            .meta {
                gap: 0.75rem 3rem;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-block: 3rem 1.5rem;
                font-size: var(--sl-text-sm);
                color: var(--sl-color-gray-3);
            }
            .meta > :global(p:only-child) {
                margin-inline-start: auto;
            }
            .footer-right {
                text-align: right;
            }
            .built-with a {
                text-decoration: none;
            }
        </style>
    )
}
